#### problem
collections.namedtuple()
Basically, namedtuples are easy to create, lightweight object types.
They turn tuples into convenient containers for simple tasks.
With namedtuples, you don’t have to use integer indices for accessing members of a tuple.

In [2]:
from collections import namedtuple
Point = namedtuple('Point', 'x, y')
pt1 = Point(1, 2)
pt2 = Point(3, 4)
dot_product = (pt1.x * pt2.x) + (pt1.y * pt2.y)
print(dot_product)

11

#### Task :
Dr. John Wesley has a spreadsheet containing a list of student’s IDs, Marks, class and name.
Your task is to help Dr. Wesley calculate the average marks of the students.

Collections.namedtuple() in Python - Hacker Rank Solution
##### Note:
1. Columns can be in any order. IDs, marks, class and name can be written in any order in the spreadsheet.
2. Column names are ID, MARKS, CLASS and NAME. (The spelling and case type of these names won’t change.)

#### Input Format :
1. The first line contains an integer N, the total number of students.
2. The second line contains the names of the columns in any order.
3. The next N lines contains the marks, IDs, name and class, under their respective column names.

#### Output Format :
Print the average marks of the list corrected to 2 decimal places.

In [5]:
import collections
n = int(input())
scol = ','.join(input().split())
Student = collections.namedtuple('Student', scol)
sum = 0
for i in range(n):
    row = input().split()
    student = Student(*row)
    sum += int(student.MARKS) 
print(sum/n)

5
ID NAME MARKS CLASS
1 Sachin 97 4
2 Krishna 85 3
3 Abhishek 96 5
4 Mohan 86 4
5 Rishi 98 6
92.4